//registry.npmjs.org/:always-auth=true
//registry.npmjs.org/:_authToken=${NPMJS_TOKEN}
@milaboratories:registry=https://registry.npmjs.org/
@platforma-sdk:registry=https://registry.npmjs.org/
@platforma-open:registry=https://registry.npmjs.org/
